[Desktop Entry]
Name=Trezor Suite
Exec={{ trezor_suite.install_dir }}/trezor-suite %U
TryExec={{ trezor_suite.install_dir }}/trezor-suite
Terminal=false
Type=Application
Icon=trezor-suite
StartupWMClass=Trezor Suite
X-AppImage-Version={{ trezor_suite.version }}
Comment=Trezor Suite desktop application
MimeType=x-scheme-handler/trezorsuite;x-scheme-handler/bitcoin;x-scheme-handler/litecoin;x-scheme-handler/bitcoincash;x-scheme-handler/bitcoingold;x-scheme-handler/dash;x-scheme-handler/digibyte;x-scheme-handler/dogecoin;x-scheme-handler/namecoin;x-scheme-handler/vertcoin;x-scheme-handler/zcash;
Categories=Utility;
