[Desktop Entry]
Name=OrcaSlicer
Exec={{ orcaslicer_appimage.install_dir }}/bin/orca-slicer %F
TryExec={{ orcaslicer_appimage.install_dir }}/bin/orca-slicer
Terminal=false
Type=Application
Icon=orcaslicer
StartupWMClass=OrcaSlicer
Comment=OrcaSlicer 3D printing slicer
Categories=Graphics;3DGraphics;
MimeType=model/3mf;model/stl;
