[Desktop Entry]
Type=Application
Name=Amethyst Mod Manager
Comment=Game mod manager for Linux
Exec={{ amethyst_mod_manager.install_dir }}/AppRun %U
TryExec={{ amethyst_mod_manager.install_dir }}/AppRun
Icon=amethyst-mod-manager
Terminal=false
Categories=Game;Utility;
StartupWMClass=mod-manager
X-AppImage-Version={{ _amethyst_resolved_version }}
